Repository Significant-Gravitas/Auto-GPT-Plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Significant-Gravitas/auto-gpt-source, @Significant-Gravitas/plugins, @desojo, @riensen, @sr5434, @delgermurun, @ForestLinSen, @PalAditya, @pierluigi-failla, @sidewaysthought, @armmarov

.github/CODEOWNERS:

* @Significant-Gravitas/auto-gpt-source @Significant-Gravitas/plugins
/src/autogpt_plugins/twitter @desojo
/src/autogpt_plugins/email @riensen
/src/autogpt_plugins/astro @sr5434
/src/autogpt_plugins/scenex @delgermurun 
/src/autogpt_plugins/bing_search @ForestLinSen
/src/autogpt_plugins/news_search @PalAditya
/src/autogpt_plugins/wikipedia_search @pierluigi-failla
/src/autogpt_plugins/api_tools @sidewaysthought
/src/autogpt_plugins/random_values @sidewaysthought
/src/autogpt_plugins/voice_command @armmarov

Update readme
  src/autogpt_plugins/voice_command/README.md
Owners: @armmarov

Update readme and simple answer mechanism
  src/autogpt_plugins/voice_command/README.md
  src/autogpt_plugins/voice_command/voice_command_kaldi.py
Owners: @armmarov

Update readme
  src/autogpt_plugins/voice_command/README.md
Owners: @armmarov

readme changes for webhook plugins
  .gitignore
Owners: @Significant-Gravitas/auto-gpt-source, @Significant-Gravitas/plugins

readme changes for webhook plugins
  README.md
Owners: @Significant-Gravitas/auto-gpt-source, @Significant-Gravitas/plugins

fixed readme
  README.md
Owners: @Significant-Gravitas/auto-gpt-source, @Significant-Gravitas/plugins

Update README.md to include directory of plugins rather than tables
  README.md
Owners: @Significant-Gravitas/auto-gpt-source, @Significant-Gravitas/plugins

Fix encoding issues when reading emails in the email plugin
  src/autogpt_plugins/email/email_plugin/email_plugin.py
Owners: @riensen

Fixed typo
  src/autogpt_plugins/email/email_plugin/email_plugin.py
Owners: @riensen

use class names as thats what ALLOWLISTED_PLUGINS expects
  .github/workflows/test-plugin-installation.yml
Owners: @Significant-Gravitas/auto-gpt-source, @Significant-Gravitas/plugins

Update test class name
  src/autogpt_plugins/voice_command/test_voice_command.py
Owners: @armmarov

Update README.md
  README.md
Owners: @Significant-Gravitas/auto-gpt-source, @Significant-Gravitas/plugins

Update README.md to include tables as well
  README.md
Owners: @Significant-Gravitas/auto-gpt-source, @Significant-Gravitas/plugins
